body {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  overflow: hidden;
  background-image: url('hexagon.svg');
  background-size: cover;
}

.background {
  color: white
}

.left{
  float: left;
}

.right {
  float: right;
}

.header {
  font-size: 2.5em;
  letter-spacing: 0.06em;
}

.container {
  max-width: 900px;
  min-height: 98.5vh;
  max-height: 98.5vh;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(31, 48, 51, 0.5), rgba(3, 14, 15, 0.7));
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}

.filterDiv {
  float: left;
  text-align: center;
  color: white;
  display: none;
  position: relative;
}

.show {
  display: block;
}

.heroes {
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /*gap: 1.5em;*/
  width: 92%;
  margin-left: 2.5em;
  row-gap: 0.8em;
  filter: drop-shadow(1px 1px white) drop-shadow(-1px -1px white);
}

.btn {
  border: none;
  outline: none;
  padding: 1em, 1em;
  cursor: pointer;
  background: transparent;
}

.divide {
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.factionDiv .btn, .rarityDiv .btn {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
}

.btn:hover {
  filter: brightness(0) saturate(100%) invert(71%) sepia(7%) saturate(2335%) hue-rotate(121deg) brightness(98%) contrast(95%);
}

.btn.active {
  filter: brightness(0) saturate(100%) invert(67%) sepia(24%) saturate(4963%) hue-rotate(124deg) brightness(95%) contrast(104%);
}

.btn img {
  max-width: 2.5em;
}

.btnContainer {
  background-image: linear-gradient(to right, rgba(204, 198, 198, 0), rgba(204, 198, 198, 0.1), rgba(204, 198, 198, 0.1), rgba(204, 198, 198, 0));
  border-bottom: solid;
  border-top: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, rgba(204, 198, 198, 0), rgba(204, 198, 198, 0.2), rgba(204, 198, 198, 0.2), rgba(204, 198, 198, 0));
  border-width: 1px;
  margin-bottom: 1em;
  align-items: center; 
  justify-content: center;
  display: flex;
  padding-top: 0.3em;
  width: 92%;
  margin-left: 2.5em;
}

.contentHeader {
  padding-top: 1em; 
  padding-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 92%;
  margin-left: 2.5em;
}

.content{
  font-size:1.7em;
  text-align:left;
  letter-spacing: 0.06em;
}

.content img {
  clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
}

.content:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width: 100%; height: 95.5%;
  clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
  display:inline-block;
  background: linear-gradient(to bottom, rgba(0,47,75,0) 0%,rgba(25, 39, 59, 0.8) 100%);
}

.heroName {
  position: absolute;
  bottom: 0.3em;
  left: 0.3em;
  z-index: 3;
}

.squish {
  letter-spacing: 0em;
}

#filterList {
  margin-left: 1.7em;
  font-size: 1.5em;
}

#searchBar {
  border: solid;
  border-color: white;
  border-width: 1px;
  height: 2em;
  width: 20em;
  margin-top: 1em;
  background-color: rgba(204, 198, 198, 0.2);
  color: white;
  text-indent: 0.5em;
}

::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

.searchIcon {
  position: absolute;
  top: 1em;
  left: 15.3em;
}

.merge {
  display: flex;
}
.search {
  position: relative;
}
.grey {
  color: grey;
}

@media screen and (max-width: 600px) {
  .container{
    max-width: 95vw;
  }
  .btnContainer {
    display: block;
    margin-left: 1.5em;
  }
  .hide {
    display: none;
  }
  .contentHeader {
    display: inline-block;
    margin-left: 1.5em;
  }
  .heroes {
    margin-left: 1.2em;
  }
  .btn {
    padding: none;
    width: 2.8em;
  }
  .btn img {
    width: 2.2em;
  }
  .heroes img {
    width: 5.75em;
  }
  #filterList {
    margin-left: 1em;
  }
}