body {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  overflow: hidden;
  background-image: url('https://static.vecteezy.com/system/resources/previews/022/717/373/large_2x/concept-of-nebula-with-galaxies-in-deep-space-cosmos-discovery-outer-space-and-stars-generat-ai-free-photo.jpg');
}

.background {
  color: white
}

.left{
  float: left;
}

.right {
  float: right;
}

.header {
  font-size: 2.5em;
  letter-spacing: 0.06em;
}

.container {
  max-width: 1000px;
  min-height: 98.5vh;
  max-height: 98.5vh;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(54, 78, 82, 0.5), rgba(25, 39, 59, 0.5));
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}

.filterDiv {
  float: left;
  text-align: center;
  color: white;
  display: none;
  position: relative;
}

.show {
  display: block;
}

.heroes {
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  width: 92%;
  margin-left: 2.5em;
}

.btn {
  border: none;
  outline: none;
  padding: 1em, 1em;
  cursor: pointer;
  background: transparent;
}

.divide {
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.btn:hover {
  filter: brightness(0) saturate(100%) invert(80%) sepia(63%) saturate(1497%) hue-rotate(170deg) brightness(99%) contrast(88%);
}

.factionDiv .btn, .rarityDiv .btn {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
}

.btn.active {
  filter: invert(54%) sepia(33%) saturate(7076%) hue-rotate(163deg) brightness(96%) contrast(102%);
}

.btn img {
  max-width: 2.5em;
}

.btnContainer {
  background-image: linear-gradient(to right, rgba(204, 198, 198, 0), rgba(204, 198, 198, 0.1), rgba(204, 198, 198, 0.1), rgba(204, 198, 198, 0));
  border-bottom: solid;
  border-top: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, rgba(204, 198, 198, 0), rgba(204, 198, 198, 0.2), rgba(204, 198, 198, 0.2), rgba(204, 198, 198, 0));
  border-width: 1px;
  margin-bottom: 1em;
  align-items: center; 
  justify-content: center;
  display: flex;
  padding-top: 0.3em;
  width: 92%;
  margin-left: 2.5em;
}

.contentHeader {
  padding-top: 1em; 
  padding-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 92%;
  margin-left: 2.5em;
}

.content{
  font-size:1.7em;
  text-align:left;
  letter-spacing: 0.06em;
}

.content:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:99%; height:95.5%;
  display:inline-block;
  background: linear-gradient(to bottom, rgba(0,47,75,0) 0%,rgba(25, 39, 59, 0.8) 100%);
  border-style: solid; 
  border-color: white;
  border-width: 1px;
}

.heroName {
  position: absolute;
  bottom: 0.3em;
  left: 0.3em;
  z-index: 3;
}

.squish {
  letter-spacing: 0.02em;
}

#filterList {
  margin-left: 1.7em;
  font-size: 1.5em;
}

#searchBar {
  border: solid;
  border-color: white;
  border-width: 1px;
  height: 2em;
  width: 20em;
  margin-top: 1em;
  background-color: rgba(204, 198, 198, 0.2);
  color: white;
  text-indent: 0.5em;
}

::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

.searchIcon {
  position: absolute;
  top: 1.1em;
  left: 15.5em;
}

.merge {
  display: flex;
}
.search {
  position: relative;
}

@media screen and (max-width: 500px) {
  .container{
    max-width: 95vw;
  }
  .btnContainer {
    display: block;
    margin-left: 1.5em;
  }
  .hide {
    display: none;
  }
  .contentHeader {
    display: inline-block;
    margin-left: 1.5em;
  }
  .heroes {
    margin-left: 1.5em;
  }
  .btn {
    padding: none;
    width: 2.8em;
  }
  .btn img {
    width: 2.2em;
  }
  .heroes img {
    width: 5em;
  }
  #filterList {
    margin-left: 1em;
  }
}